/* GLOBAL */

/* DESKTOP */
@media screen and (min-width: 769px) {}

/* TABLET */
@media screen and (max-width: 768px) {}

/* MOBILE */
@media screen and (max-width: 480px) {}

/* CUSTOM */
@media screen and (min-width: 550px) {
    .maintenanceWrap {
        min-height: 80cqb;
        display: flex;
        flex-direction: column;
        margin: 0 10cqb;
    }

    .maintenanceWrap h1 {
        margin: 2cqb 0;
        text-align: center;
    }
}