*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    color: inherit;
}

body {
    min-height: 100vh;
}

image, svg, video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-style: normal;
    font-weight: normal;
}

p,
li {
    max-width: var(--p-max-width, 65ch);
    text-wrap: pretty;
}

a {
    color: currentColor;
}

button {
    all: unset;
    display: inline-block;
    border: none;
    background: none;
    font: inherit;
    text-align: center;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}