*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    color: inherit;
}

/* html {
  color-scheme: dark light;
} */

body {
    min-height: 100cqb;
    container: body / inline-size;
}

image, svg, video {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-style: normal;
    font-weight: normal;
}

p,
li {
    max-width: var(--p-max-width, 65ch);
    text-wrap: pretty;
}

a {
    color: currentColor;
}