:root {
    --clr-red-light: hsl(0, 100%, 85%);
    --clr-red-mid: hsl(0, 100%, 50%);
    --clr-red-dark: hsl(0, 100%, 15%);

    --clr-orange-light: hsl(30, 100%, 85%);
    --clr-orange-mid: hsl(30, 100%, 50%);
    --clr-orange-dark: hsl(30, 100%, 15%);

    --clr-yellow-light: hsl(60, 100%, 85%);
    --clr-yellow-mid: hsl(60, 100%, 50%);
    --clr-yellow-dark: hsl(60, 100%, 15%);

    --clr-green-light: hsl(120, 100%, 85%);
    --clr-green-mid: hsl(120, 100%, 50%);
    --clr-green-dark: hsl(120, 100%, 15%);

    --clr-cyan-light: hsl(180, 100%, 85%);
    --clr-cyan-mid: hsl(180, 100%, 50%);
    --clr-cyan-dark: hsl(180, 100%, 15%);

    --clr-blue-light: hsl(240, 100%, 85%);
    --clr-blue-mid: hsl(240, 100%, 50%);
    --clr-blue-dark: hsl(240, 100%, 15%);

    --clr-purple-light: hsl(270, 100%, 85%);
    --clr-purple-mid: hsl(270, 100%, 50%);
    --clr-purple-dark: hsl(270, 100%, 15%);

    --clr-magenta-light: hsl(300, 100%, 85%);
    --clr-magenta-mid: hsl(300, 100%, 50%);
    --clr-magenta-dark: hsl(300, 100%, 15%);

    --clr-white: hsl(0, 0%, 100%);

    --clr-light-grey: hsl(0, 0%, 75%);
    --clr-grey: hsl(0, 0%, 50%);
    --clr-dark-grey: hsl(0, 0%, 25%);

    --clr-black: hsl(0, 0%, 0%);

    --clr-success: hsl(120, 40%, 46%);
    --clr-success-hov: hsl(120, 39%, 54%);

    --clr-danger: hsl(2, 65%, 50%);
    --clr-danger-hov: hsl(2, 65%, 60%);
}