@import url('./css/exports.module');

/* GLOBAL */
nextjs-portal {
    display: none;
}

* {
    font-family: var(--ff-base);
}

html {
    font-size: var(--base-font-size);
}

body {
    background-color: var(--bg-dark-mode);
    color: var(--font-dark-mode);
    font-size: var(--font-size-small-400);
    font-size: var(--base-font-size);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-header);
}

h1 {
    font-size: var(--font-size-large-900);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-large-800);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-large-700);
    font-weight: var(--font-weight-normal);
}

h4 {
    font-size: var(--font-size-large-600);
    font-weight: var(--font-weight-normal);
}

h5 {
    font-size: var(--font-size-large-400);
    font-weight: var(--font-weight-light);
}

h6 {
    font-size: var(--font-size-large-300);
    font-weight: var(--font-weight-light);
}

/* DESKTOP */
@media screen and (min-width: 769px) {}

/* TABLET */
@media screen and (max-width: 768px) {}

/* MOBILE */
@media screen and (max-width: 480px) {}