/* GLOBAL */

/* DESKTOP */
@media screen and (min-width: 769px) {
    .main {
        min-height: 80cqb;
        display: flex;
        flex-direction: column;
        margin: 0 10cqb;
    }

    .main h1 {
        margin: 2cqb 0;
        text-align: center;
        color: var(--clr-brand-primary);
    }
}

/* TABLET */
@media screen and (max-width: 768px) {}

/* MOBILE */
@media screen and (max-width: 480px) {}