/* GLOBAL */
    .main {
        min-height: 80cqb;
        display: flex;
        flex-direction: column;
        margin: 0 10cqb;
    }

    .main h1 {
        margin: 2cqb 0;
        text-align: center;
        color: var(--clr-brand-primary);
    }
/* DESKTOP */
@media screen and (min-width: 769px) {}

/* TABLET */
@media screen and (max-width: 768px) {
    .main > div {
        display: flex;
        flex-direction: column;
    }

    .main h1 {
        font-size: var(--font-size-large-700);
    }
}

/* MOBILE */
@media screen and (max-width: 480px) {}