/* DESKTOP */
@container body (width >=550px) {
    .headerWrap {
        container: headerWrap / inline-size;
        display: flex;
        height: 10cqb;
        max-height: 10cqb;
        justify-content: space-between;
        align-items: center;
        padding: 0.5cqh 5cqw;
        text-align: center;
    }

    .hamburger,
    .mobContact {
        display: none;
    }

    .logoWrap,
    .navWrap {
        height: 100%;
        max-height: 10cqb;
        display: flex;
        align-items: center;
    }

    .logoWrap img {
        width: auto;
        height: 100%;
        cursor: pointer;
    }

    .navWrap {
        grid-column-start: 3;
        justify-content: space-between;
    }

    .navWrap a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.5cqb 3cqi;
        white-space: nowrap;
    }

    .navWrap a:not(.navBtn) {
        transition: transform 0.3s ease;
    }

    /* .navBtn {
        position: relative;
        color: var(--clr-white);
        background-color: var(--clr-brand-accent);
        border-radius: 0.3rem;
    } */

    /* .navBtn::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: -1;
        background-color: var(--clr-brand-accent);
        border-radius: inherit;
        transition: all 0.3s ease;
    }

    .navLink:hover {
        transform: translateY(-4px);
    }

    .navBtn:hover::before {
        transform: scale(1.15);
        box-shadow: 0 32px 32px rgba(27, 27, 27, .1), 0 16px 16px rgba(27, 27, 27, .1), 0 8px 8px rgba(27, 27, 27, .1), 0 4px 4px rgba(27, 27, 27, .1), 0 2px 2px rgba(27, 27, 27, .1);
    } */
}